version: '3.8'
services:
  backend:
    build: ./backend
    ports:
      - "6610:8000"
    env_file:
      - .env
  frontend:
    build: ./frontend
    ports:
      - "6611:80"
    depends_on:
      - backend
